@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

body {
  min-width: 320px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.button {
  display: block;
  width: 100%;
  padding: 14px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #444444;
  cursor: pointer; }
  .button:hover, .button:focus {
    color: #ffffff;
    background-color: #444444;
    -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }

.section {
  padding: 30px; }
  .section--weekly-good {
    padding-bottom: 40px; }
  .section--reviews {
    padding-top: 20px;
    padding-bottom: 50px; }
  .section--contacts {
    padding-top: 35px;
    padding-bottom: 40px; }
  .section--catalog {
    padding-bottom: 0; }
  .section--production {
    padding-bottom: 60px; }
  .section--order {
    padding-top: 20px;
    padding-bottom: 55px; }

.section__title {
  font-size: 25px;
  color: #000000; }

@media (min-width: 768px) {
  .section {
    padding: 50px;
    padding-top: 45px;
    padding-bottom: 70px; }
    .section--about {
      padding-top: 50px;
      padding-bottom: 80px; }
    .section--reviews {
      padding-top: 80px;
      padding-bottom: 100px; }
    .section--contacts {
      padding-top: 60px;
      padding-bottom: 60px; }
    .section--catalog {
      padding-top: 70px;
      padding-bottom: 0; }
    .section--production {
      padding-top: 50px;
      padding-bottom: 65px; }
    .section--order {
      padding-top: 60px;
      padding-bottom: 50px; }
  .section__title {
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1150px) {
  .section--weekly-good {
    padding-top: 122px;
    padding-bottom: 100px; }
  .section--about {
    padding-top: 55px;
    padding-right: 225px;
    padding-bottom: 90px;
    padding-left: 225px; }
  .section--reviews {
    padding-top: 70px;
    padding-bottom: 155px;
    padding-left: 225px; }
  .section--contacts {
    padding-top: 140px;
    padding-bottom: 106px;
    padding-left: 225px; }
  .section--catalog {
    padding-top: 145px;
    padding-bottom: 0; }
  .section--production {
    padding-top: 55px;
    padding-bottom: 110px; }
  .section--order {
    padding-top: 137px;
    padding-right: 0;
    padding-left: 0; }
  .section__title {
    font-size: 53px;
    line-height: 57px; } }

.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff; }

.page-header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec; }

.page-header__logo {
  width: 86px;
  height: 35px; }
  .page-header__logo:hover, .page-header__logo:focus {
    opacity: 0.6; }
  .page-header__logo:active {
    opacity: 0.3; }

.page-header__toggle {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 20px;
  height: 14px;
  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  border: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer; }
  .page-header__toggle:hover, .page-header__toggle:focus {
    opacity: 0.6; }
  .page-header__toggle:active {
    opacity: 0.3; }

.page-header__delivery {
  display: none; }

@media (max-width: 767px) {
  .page-header--nojs .site-list {
    display: block; }
  .page-header--nojs .page-header__toggle {
    display: none; }
  .page-header--menu-opened .page-header__toggle {
    width: 21px;
    height: 20px;
    background-image: url("../img/icon-menu-close.svg"); }
  .page-header--menu-opened .site-list {
    display: block; } }

@media (min-width: 768px) {
  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 50px;
    border-bottom: 1px solid #ececec; }
  .page-header__wrapper {
    min-height: 88px;
    border-bottom: none; }
  .page-header__logo {
    width: 113px;
    height: 46px; }
  .page-header__toggle {
    display: none; }
  .page-header__delivery {
    position: absolute;
    right: 50px;
    bottom: -44px;
    z-index: 1;
    display: block; } }

@media (min-width: 1150px) {
  .page-header {
    max-width: 1150px;
    margin: 0 auto; }
  .page-header__wrapper {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .page-header__logo {
    width: 149px;
    height: 72px; } }

.main-nav {
  background-color: #ffffff; }

@media (min-width: 768px) {
  .main-nav {
    margin-left: auto; } }

@media (min-width: 1150px) {
  .main-nav {
    width: 100%;
    margin-left: 0; } }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.site-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  line-height: 24px; }

.site-list__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 79px;
  padding-right: 30px;
  padding-left: 76px;
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #ececec; }
  .site-list__link--new, .site-list__link--sale {
    display: none; }
  .site-list__link:hover, .site-list__link:focus {
    color: rgba(0, 0, 0, 0.6); }
    .site-list__link:hover .site-list__svg, .site-list__link:focus .site-list__svg {
      opacity: 1;
      fill: #63d1bb; }
  .site-list__link:active {
    color: rgba(0, 0, 0, 0.3); }
    .site-list__link:active .site-list__svg {
      opacity: 0.3; }

.site-list__svg {
  position: absolute;
  top: 50%;
  left: 30px;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.2; }

@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .site-list__link {
    z-index: 1;
    width: auto;
    min-height: 88px;
    padding-right: 0;
    padding-left: 82px;
    border-bottom: none;
    border-left: 1px solid #ececec; }
    .site-list__link--search {
      font-size: 0; } }

@media (min-width: 768px) and (max-width: 1149px) {
  .site-list__link--catalog, .site-list__link--order {
    position: absolute;
    bottom: -42px;
    left: 50px;
    min-height: auto;
    padding-left: 0;
    font-size: 15px;
    border-left: none; }
  .site-list__link--order {
    left: 216px; } }

@media (min-width: 1150px) {
  .site-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .site-list__item:nth-child(3) {
    margin-left: auto; }
  .site-list__link--catalog {
    margin-right: 35px;
    padding-left: 0;
    border-left: none; }
  .site-list__link--order {
    padding-left: 35px; }
  .site-list__link--new, .site-list__link--sale {
    position: absolute;
    bottom: -42px;
    left: 50px;
    display: block;
    min-height: auto;
    padding-left: 0;
    font-size: 15px;
    border-left: none; }
  .site-list__link--sale {
    left: 270px; } }

.page-main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 176px;
  margin: 0;
  padding: 0 30px;
  font-size: 27px;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1; }
  .page-main__title::after {
    content: "";
    min-height: inherit;
    font-size: 0; }

@media (min-width: 768px) {
  .page-main__title {
    position: relative;
    min-height: 237px;
    font-size: 43px;
    line-height: 50px; }
    .page-main__title::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 24px;
      background-color: #f1f1f1;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: bottom;
      background-size: contain; } }

@media (min-width: 1150px) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px; }
    .page-main__title::before {
      bottom: -34px;
      height: 34px; } }

.categories {
  position: relative; }

.categories__wrapper {
  min-height: 282px;
  background-color: #ececec;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .categories__wrapper {
      background-image: url("../img/hero-mobile@2x.jpg"); } }

.categories__lead {
  margin: 0;
  padding: 70px 30px 0;
  font-size: 27px;
  text-align: center;
  color: #000000; }

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.categories__item {
  position: relative;
  min-height: 103px; }

.categories__link {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 103px;
  padding: 0 30px;
  padding-right: 100px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff; }
  .categories__link::before {
    content: "";
    min-height: inherit;
    font-size: 0; }
  .categories__link::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -30px;
    opacity: 0.5; }
  .categories__link--interior {
    background-color: #63d1bb; }
    .categories__link--interior::after {
      right: 37px;
      width: 40px;
      height: 62px;
      background-image: url("../img/icon-interior.svg"); }
    .categories__link--interior:hover, .categories__link--interior:focus {
      background-color: #59d5bc; }
  .categories__link--toys {
    background-color: #56c3b2; }
    .categories__link--toys::after {
      right: 27px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-toy.svg"); }
    .categories__link--toys:hover, .categories__link--toys:focus {
      background-color: #46c1ae; }
  .categories__link:hover, .categories__link:focus {
    padding-bottom: 6px;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
    .categories__link:hover::after, .categories__link:focus::after {
      opacity: 0.7; }
  .categories__link:active {
    color: rgba(255, 255, 255, 0.3); }
    .categories__link:active::after {
      opacity: 0.3; }

@media (min-width: 768px) {
  .categories__wrapper {
    min-height: 746px;
    background-image: url("../img/hero-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .categories__wrapper {
      background-image: url("../img/hero-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .categories__lead {
    padding: 153px 50px 0;
    font-size: 43px;
    line-height: 50px; }
  .categories__list {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0 50px;
    background-color: #f9f9f9; }
    .categories__list::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -10px;
      left: 0;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: bottom;
      background-size: contain; }
  .categories__item {
    width: 50%;
    min-height: 120px; }
  .categories__link {
    min-height: 120px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px; }
    .categories__link:hover, .categories__link:focus {
      padding-bottom: 6px; } }

@media (min-width: 1150px) {
  .categories__wrapper {
    background-image: url("../img/hero-tablet@1x.jpg"); } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
    .categories__wrapper {
      background-image: url("../img/hero-tablet@2x.jpg"); } }

@media (min-width: 1150px) {
  .categories__lead {
    max-width: 1150px;
    margin: 0 auto;
    font-size: 53px;
    line-height: 57px; }
  .categories__list {
    right: 50%;
    max-width: 1150px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
    .categories__list::after {
      bottom: -15px;
      height: 34px; } }

.weekly-good {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff; }
  .weekly-good::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    opacity: 0.1; }

.weekly-good__title-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.weekly-good__title {
  margin: 0;
  margin-bottom: 3px; }

.weekly-good__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase; }

.weekly-good__picture {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.weekly-good__img {
  margin-bottom: 20px; }

.weekly-good__info-wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }
  .weekly-good__info-wrapper--order {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

.weekly-good__description {
  margin: 0;
  margin-bottom: 18px;
  line-height: 24px; }

.weekly-good__list {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  line-height: 20px; }

.weekly-good__row {
  border-bottom: 1px solid #ececec; }

.weekly-good__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 39px;
  padding: 0;
  padding-right: 12px; }

.weekly-good__value {
  padding: 0; }

.weekly-good__price {
  margin: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center; }

@media (min-width: 768px) {
  .weekly-good {
    display: block; }
    .weekly-good::after {
      height: 15px; }
  .weekly-good__title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 47px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .weekly-good__title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 0; }
  .weekly-good__subtitle {
    width: 80px;
    margin-bottom: 0;
    margin-right: 23px;
    line-height: 17px;
    text-align: center; }
  .weekly-good__info-wrapper {
    width: 50%;
    min-height: 245px;
    padding-right: 42px;
    margin-bottom: 55px; }
    .weekly-good__info-wrapper:last-of-type {
      min-height: auto;
      margin-bottom: 0; }
  .weekly-good__img {
    position: relative;
    top: 9px;
    float: right;
    width: 333px; }
  .weekly-good__description {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px; }
  .weekly-good__list {
    margin-bottom: 0; }
  .weekly-good__caption {
    padding-right: 0; }
  .weekly-good__price {
    margin-bottom: 35px;
    font-size: 20px; } }

@media (min-width: 1150px) {
  .weekly-good {
    max-width: 1150px;
    margin: 0 auto; }
    .weekly-good::after {
      height: 23px;
      left: 50px;
      right: 50px; }
  .weekly-good__title-wrapper {
    margin-bottom: 50px; }
  .weekly-good__title {
    z-index: 2;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .weekly-good__subtitle {
    margin-right: 50px;
    margin-left: 40px; }
  .weekly-good__info-wrapper {
    width: 340px;
    margin-bottom: 110px;
    margin-left: 175px; }
    .weekly-good__info-wrapper:last-of-type {
      margin-bottom: 0; }
  .weekly-good__description {
    margin-bottom: 48px; }
  .weekly-good__img {
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 1;
    width: 525px; }
  .weekly-good__price {
    margin-bottom: 32px; } }

.about {
  background-color: #ffffff; }

.about__title {
  margin: 0;
  margin-bottom: 30px; }

.about__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.about__item {
  margin-bottom: 25px; }
  .about__item:last-child {
    margin-bottom: 0; }

.about__icon {
  display: block;
  height: 37px;
  margin-bottom: 21px;
  margin-left: 5px;
  overflow: hidden;
  fill: #63d1bb; }

.about__text {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000; }

@media (min-width: 768px) {
  .about__title {
    margin-bottom: 50px; }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about__item {
    width: 50%;
    margin-bottom: 55px; }
    .about__item--ecology {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .about__item--knitting {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .about__item--price {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .about__item--support {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; }
    .about__item--likes {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5;
      margin-bottom: 0; }
    .about__item--gift {
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6;
      margin-bottom: 0; }
  .about__icon {
    margin-bottom: 18px;
    margin-left: 0; }
  .about__text {
    padding-right: 30px;
    font-size: 20px;
    line-height: 22px; } }

@media (min-width: 1150px) {
  .about {
    max-width: 1150px;
    margin: 0 auto; } }

.page-footer {
  padding: 25px 30px 23px;
  background-color: #f1f1f1; }

.page-footer__logo {
  display: none; }
  .page-footer__logo:hover, .page-footer__logo:focus {
    fill: #46c1ae; }
  .page-footer__logo:active {
    opacity: 0.3; }

.page-footer__logo-image {
  display: block;
  width: 102px;
  height: 34px; }

.page-footer__social {
  margin-bottom: 50px; }

.page-footer__copyright {
  position: relative; }
  .page-footer__copyright::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ececec; }

@media (min-width: 768px) {
  .page-footer {
    padding: 50px;
    padding-bottom: 55px; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__logo {
    display: block;
    margin-right: auto; }
  .page-footer__social {
    margin-bottom: 0;
    margin-left: 80px;
    border-bottom: none; }
  .page-footer__copyright {
    margin-left: auto; }
    .page-footer__copyright::before {
      content: none; } }

@media (min-width: 1150px) {
  .page-footer {
    padding-right: 0;
    padding-left: 0; }
  .page-footer__wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 140px; }

.social__link {
  display: block; }
  .social__link:hover, .social__link:focus {
    fill: #46c1ae; }
  .social__link:active {
    opacity: 0.3; }

.social__icon {
  display: block; }

.copyright {
  background-color: #f1f1f1; }

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 19px;
  line-height: 19px;
  color: #000000;
  fill: #63d1bb; }
  .copyright__link:hover, .copyright__link:focus {
    fill: #46c1ae; }
  .copyright__link:active {
    opacity: 0.3; }
  .copyright__link .copyright__icon {
    margin-left: 30px; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog__item {
  margin-bottom: 30px; }
  .catalog__item:last-child {
    margin-bottom: 0; }
  .catalog__item:hover {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .catalog__item:active {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.catalog__img {
  display: block; }

.catalog__wrapper {
  padding: 28px;
  border: 1px solid #ececec; }

.catalog__link {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000; }
  .catalog__link:hover, .catalog__link:focus {
    opacity: 0.6; }
  .catalog__link:active {
    opacity: 0.3; }

.catalog__info {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px; }

.catalog__price {
  line-height: 24px; }

.catalog__buy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #ececec; }

.catalog__cart-btn {
  display: block; }
  .catalog__cart-btn:hover .catalog__buy-icon,
  .catalog__cart-btn:focus .catalog__buy-icon {
    opacity: 1;
    fill: #63d1bb; }
  .catalog__cart-btn:active .catalog__buy-icon {
    opacity: 0.3; }

.catalog__buy-icon {
  display: block;
  overflow: hidden;
  opacity: 0.2;
  fill: black; }

@media (min-width: 768px) {
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 55px; }
  .catalog__img-link {
    width: 50%; }
  .catalog__img {
    min-height: 100%; }
  .catalog__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding: 25px;
    padding-top: 22px;
    padding-bottom: 30px; }
  .catalog__link {
    margin-bottom: 5px;
    font-size: 20px; }
  .catalog__info {
    font-size: 15px; }
  .catalog__buy-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    padding-right: 6px;
    padding-left: 6px; }
  .catalog__price {
    font-size: 17px; } }

@media (min-width: 1150px) {
  .catalog {
    max-width: 1150px;
    margin: 0 auto; }
  .catalog__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 317px;
    margin-bottom: 0; }
  .catalog__img-link {
    width: auto; }
  .catalog__wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: auto;
    padding: 26px; }
  .catalog__info {
    margin-bottom: 15px; }
  .catalog__buy-wrapper {
    padding-left: 0; } }

.reviews {
  position: relative; }
  .reviews::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    opacity: 0.1; }

.reviews__title {
  margin: 0;
  margin-bottom: 25px; }

.reviews__item {
  margin: 0; }

.reviews__text {
  margin: 0;
  margin-bottom: 25px; }

.reviews__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-style: normal; }

.reviews__author-link {
  display: block;
  margin-bottom: 30px;
  font-size: 17px;
  color: #444444; }

.reviews__slide-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px; }

.reviews__change-btn {
  width: 50%;
  height: 52px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #ececec;
  cursor: pointer; }
  .reviews__change-btn:hover, .reviews__change-btn:focus {
    opacity: 0.6; }
  .reviews__change-btn:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .reviews {
    background-color: #ffffff;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg"); } }

@media (min-width: 768px) {
    .reviews::after {
      height: 15px; }
  .reviews__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .reviews__title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px; }
  .reviews__list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .reviews__item {
    display: block; }
  .reviews__text {
    margin-bottom: 55px;
    font-size: 17px; }
  .reviews__author {
    margin-bottom: 5px;
    font-size: 18px;
    color: #000000; }
  .reviews__author-link {
    width: 125px; }
  .reviews__slide-wrapper {
    position: absolute;
    right: 70px;
    bottom: 145px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 135px;
    margin-bottom: 0; }
  .reviews__change-btn {
    width: auto;
    height: auto;
    border: none; }
  .reviews__button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    width: 175px; } }

@media (min-width: 1150px) {
  .reviews {
    max-width: 1150px;
    margin: 0 auto;
    background-position: 50px 0; }
    .reviews::after {
      height: 23px;
      left: 50px;
      right: 50px; }
  .reviews__title {
    margin-bottom: 50px; }
  .reviews__text {
    margin-bottom: 35px;
    padding-right: 75px; }
  .reviews__author {
    margin-bottom: 0;
    font-size: 17px; }
  .reviews__slide-wrapper {
    right: 70px;
    bottom: 195px; }
  .reviews__button {
    margin-top: 10px; } }

.contacts__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px; }

.contacts__table {
  margin-bottom: 35px; }

.contacts__map {
  margin-right: -30px;
  margin-bottom: 40px;
  margin-left: -30px; }

@media (min-width: 768px) {
  .contacts {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contacts::after {
      content: "";
      position: absolute;
      top: 47px;
      right: 53px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat; }
  .contacts__title {
    margin-bottom: 50px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-right: 100px;
    font-size: 43px;
    line-height: 50px;
    color: #000000; }
  .contacts__table {
    margin-bottom: 55px;
    display: block; }
  .contacts__map {
    margin-right: -50px;
    margin-bottom: 55px;
    margin-left: -50px; }
  .contacts__write {
    width: 230px;
    margin: 0 auto; } }

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    max-width: 1150px;
    margin: 0 auto; }
    .contacts::after {
      top: 134px;
      left: 113px; }
  .contacts__title {
    margin-bottom: 50px;
    font-size: 53px;
    line-height: 57px; }
  .contacts-list {
    margin-bottom: 80px; }
  .contacts__map {
    position: absolute;
    top: 72px;
    right: 50px;
    width: 525px;
    height: 460px;
    margin: 0; }
  .contacts__write {
    margin: 0; } }

.contacts-list {
  border-collapse: collapse; }

.contacts-list__row {
  display: block;
  margin-bottom: 30px; }
  .contacts-list__row:last-child {
    margin-bottom: 0; }

.contacts-list__caption {
  padding: 0;
  padding-right: 30px;
  vertical-align: top; }

.contacts-list__value {
  padding: 0; }

.contacts-list__email {
  padding-bottom: 4px;
  color: #000000;
  border-bottom: 1px solid #63d1bb; }
  .contacts-list__email:hover, .contacts-list__email:focus {
    color: #46c1ae;
    border-bottom-color: #46c1ae; }
    .contacts-list__email:hover:active, .contacts-list__email:focus:active {
      opacity: 0.3; }

@media (min-width: 768px) {
  .contacts-list {
    font-size: 17px; }
  .contacts-list tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts-list__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%; }
  .contacts-list__caption {
    padding-right: 25px; } }

@media (min-width: 1150px) {
  .contacts-list tbody {
    display: table; }
  .contacts-list__row {
    margin-bottom: 30px; } }

.map {
  position: relative;
  height: 457px;
  overflow: hidden; }

.map__widget {
  position: relative;
  z-index: 2;
  width: 100%;
  border: none; }

.map__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block; }

@media (min-width: 1150px) {
  .map {
    position: absolute; } }

.production__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
  border: 1px solid #ececec; }
  .production__wrapper:hover {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .production__wrapper:active {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.production__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 95px;
  margin: 0;
  padding-right: 30px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  color: #000000; }
  .production__title::before {
    content: "";
    position: absolute;
    left: 33px;
    width: 32px;
    height: 23px;
    background-image: url("../img/icon-video.svg");
    background-position: center center; }
  .production__title::after {
    content: "";
    min-height: inherit;
    font-size: 0; }

.production__embed {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #ececec; }
  .production__embed:hover .production__button,
  .production__embed:focus .production__button {
    outline: none;
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
            transform: translate(-50%, -50%) scale(1.2, 1.2);
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in; }
  .production__embed:active .production__button {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3; }

.production__link {
  display: block; }

.production__img {
  display: block; }

.production__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 101px;
  height: 77px;
  padding: 0;
  background-color: transparent;
  border: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer; }

.production__text {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0;
  padding: 33px;
  padding-bottom: 25px;
  font-size: 13px;
  line-height: 24px; }

.production__order {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: auto;
  margin: 0 30px; }

@media (min-width: 768px) {
  .production__wrapper {
    padding-bottom: 45px; }
  .production__title {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-height: auto;
    margin-bottom: 25px;
    padding-left: 105px;
    font-size: 20px; }
    .production__title::before {
      left: 40px; }
  .production__embed {
    margin-bottom: 40px;
    padding-bottom: 68.1%;
    overflow: hidden; }
  .production__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 35px;
    padding: 0 40px;
    font-size: 15px;
    line-height: 30px; }
  .production__order {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin: 0 40px; }
  .production__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

@media (min-width: 1150px) {
  .production {
    max-width: 1150px;
    margin: 0 auto; }
  .production__wrapper {
    position: relative;
    display: block;
    min-height: 456px;
    padding-bottom: 0; }
    .production__wrapper::after {
      content: "";
      display: table;
      clear: both; }
  .production__embed {
    float: left;
    width: 682px;
    min-height: 454px;
    margin-bottom: 0;
    padding-bottom: 0; }
  .production__title {
    float: right;
    width: 290px;
    margin-bottom: 25px;
    padding-top: 95px;
    padding-right: 60px;
    padding-left: 0; }
    .production__title::before {
      top: 45px;
      left: 3px; }
  .production__text {
    float: right;
    width: 290px;
    margin-bottom: 0;
    padding-right: 60px;
    padding-bottom: 120px;
    padding-left: 0; }
  .production__order {
    position: absolute;
    right: 0;
    bottom: 60px;
    width: 230px;
    margin-right: 60px; }
  .production__img {
    width: 100%; } }

.order__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px; }

@media (min-width: 768px) {
  .order__text {
    margin-bottom: 8px;
    font-size: 17px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .order__text {
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 6px;
    padding-right: 225px;
    padding-left: 225px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.form__item {
  margin-bottom: 30px; }
  .form__item--textarea {
    margin-bottom: 10px; }

.form__caption {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
  word-break: break-all; }
  .form__caption::after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 180px;
    max-width: 650px;
    height: 1px;
    margin-left: 20px;
    background-color: #63d1bb; }

.form__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.form__field:not(:last-child) {
  margin-bottom: 20px; }

.form__label {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000; }

.form__legend {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px; }

@media (min-width: 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .form__fieldset {
    width: 100%; }
  .form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 52px; }
    .form__item--checkbox, .form__item--phone, .form__item--email {
      margin-right: -50px;
      margin-left: -50px;
      padding-right: 50px;
      padding-left: 50px;
      background-color: #f1f1f1; }
    .form__item--initials {
      padding-top: 52px; }
    .form__item--phone {
      padding-bottom: 0; }
    .form__item--email {
      padding-top: 18px;
      padding-bottom: 45px; }
    .form__item--textarea {
      padding-bottom: 50px; }
  .form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .form__caption {
    width: 25%;
    margin-top: 15px; }
    .form__caption::after {
      content: none; }
  .form__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 75%; }
    .form__list--checkbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 80%;
      margin-right: -15px;
      margin-left: -15px; }
  .form__field:not(:last-child) {
    margin-bottom: 22px; }
  .form__field {
    width: 100%; }
    .form__field--checkbox {
      width: 50%;
      margin-bottom: 34px;
      padding-right: 15px;
      padding-left: 15px; }
      .form__field--checkbox:nth-last-child(-n + 2) {
        margin-bottom: 0; }
  .form__label {
    font-size: 19px;
    line-height: 20px; }
  .form__legend {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 0;
    margin-left: auto;
    font-size: 17px;
    line-height: 30px; }
  .form__send {
    width: 230px; } }

@media (min-width: 1150px) {
  .form__item {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 51px;
    padding-left: 114px; }
    .form__item--checkbox, .form__item--phone, .form__item--email {
      max-width: 100%;
      margin: 0;
      padding-right: 0;
      padding-left: 0; }
    .form__item--email {
      padding-top: 20px;
      padding-bottom: 41px; }
    .form__item--textarea {
      width: 1150px;
      margin: 0 auto;
      padding-right: 225px;
      padding-bottom: 45px; }
  .form__wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding-right: 110px;
    padding-left: 110px; }
    .form__wrapper--contacts {
      padding-right: 225px;
      padding-left: 110px; }
    .form__wrapper--order {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 1050px;
      padding-right: 0;
      padding-left: 0; }
  .form__list {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .form__field--checkbox {
    width: 264px; }
    .form__field--checkbox:nth-child(2n + 1) {
      margin-right: 0; }
    .form__field--checkbox:nth-last-child(-n + 3) {
      margin-bottom: 0; }
  .form__caption {
    width: 112px; }
  .form__send {
    margin-left: 175px; }
  .form__legend {
    margin-right: 175px; } }

.radio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  word-wrap: break-word;
  cursor: pointer; }
  .radio:hover .radio__control:not(:disabled) + .radio__btn {
    border-color: #63d1bb; }
  .radio:active .radio__control:not(:disabled) + .radio__btn {
    border-color: #ececec; }

.radio__control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.radio__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
  height: 40px;
  margin-right: 20px;
  border: 2px solid #000000;
  border-radius: 50%; }

.radio__control:checked + .radio__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: #63d1bb;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.radio__control:focus + .radio__btn {
  border-color: #63d1bb; }

.radio__control:disabled + .radio__btn {
  opacity: 0.3;
  cursor: default; }

@media (min-width: 768px) {
  .radio__btn {
    width: 52px;
    height: 52px;
    margin-right: 28px; }
  .radio__control:checked + .radio__btn::before {
    width: 22px;
    height: 22px; } }

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 41px;
  word-break: break-all;
  cursor: pointer; }
  .checkbox:hover .checkbox__control:not(:disabled) + .checkbox__btn {
    border-color: #63d1bb; }
  .checkbox:active .checkbox__control:not(:disabled) + .checkbox__btn {
    border-color: #ececec; }

.checkbox__control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.checkbox__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  min-width: 40px;
  height: 39px;
  margin-right: 20px;
  border: 2px solid #000000; }

.checkbox__control:checked + .checkbox__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-position: center center;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.checkbox__control:focus + .checkbox__btn {
  border-color: #63d1bb; }

.checkbox__control:disabled + .checkbox__btn {
  cursor: default;
  opacity: 0.3; }

@media (min-width: 768px) {
  .checkbox__btn {
    width: 54px;
    height: 52px;
    margin-right: 25px; }
  .checkbox__control:checked + .checkbox__btn::before {
    width: 33px;
    height: 23px; } }

.input-data {
  position: relative;
  display: block;
  width: 100%; }

.input-data__field {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 13px;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000; }
  .input-data__field--phone {
    margin-top: -5px;
    padding-right: 40px;
    padding-bottom: 12px;
    font-size: 19px;
    line-height: 19px; }
  .input-data__field--email {
    margin-top: -5px;
    padding-right: 40px;
    padding-bottom: 15px; }
  .input-data__field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .input-data__field:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .input-data__field::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .input-data__field::placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .input-data__field:hover, .input-data__field:focus {
    border-color: #63d1bb;
    outline: none; }
  .input-data__field:focus:required:invalid {
    border-color: red; }
  .input-data__field:focus:required:invalid + .input-data__icon {
    fill: red; }
  .input-data__field:hover + .input-data__icon,
  .input-data__field:focus + .input-data__icon {
    fill: #63d1bb; }

.input-data__icon {
  position: absolute;
  top: -5px;
  right: 5px;
  z-index: -1;
  fill: rgba(0, 0, 0, 0.2); }

@media (min-width: 768px) {
  .input-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .input-data__field {
    margin-top: 0;
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 19px;
    line-height: 20px; }
    .input-data__field--phone, .input-data__field--email {
      margin-left: 30px;
      padding-top: 10px;
      padding-left: 20px; }
  .input-data__icon {
    top: 10px;
    right: 22px;
    z-index: 0; } }

@media (min-width: 1150px) {
  .input-data {
    width: 700px; }
  .input-data__field--phone, .input-data__field--email {
    margin-left: 0; }
  .input-data__icon {
    right: 0; } }

.textarea__field {
  width: 100%;
  min-height: 145px;
  padding: 15px;
  padding-bottom: 0;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid #000000;
  resize: none; }
  .textarea__field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .textarea__field:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .textarea__field::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .textarea__field::placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .textarea__field:hover, .textarea__field:focus {
    border-color: #63d1bb;
    outline: none; }

@media (min-width: 768px) {
  .textarea {
    width: 75%; }
  .textarea__field {
    font-size: 19px;
    line-height: 20px; } }

@media (min-width: 1150px) {
  .textarea {
    width: 700px; } }

.cart-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: none;
  width: 100%;
  min-width: 320px;
  padding: 30px;
  padding-bottom: 50px;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  -webkit-box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .cart-popup--show {
    display: block; }

.cart-popup__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
  color: #000000;
  text-transform: uppercase; }

.cart-popup__text {
  margin: 0;
  margin-bottom: 25px;
  text-align: center; }

.cart-popup__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px; }

.cart-popup__add {
  color: #ffffff;
  background-color: #63d1bb;
  border-color: #63d1bb; }

@media (min-width: 768px) {
  .cart-popup {
    width: 74%;
    padding: 50px;
    padding-top: 30px;
    padding-right: 105px;
    padding-left: 105px;
    border: 1px solid #ececec; }
  .cart-popup__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 57px; }
  .cart-popup__text {
    margin-bottom: 20px;
    font-size: 17px; } }

@media (min-width: 1150px) {
  .cart-popup {
    width: 568px; } }

.size__control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.size__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82px;
  height: 52px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #ececec;
  cursor: pointer; }

.size__control:checked + .size__switcher {
  border-color: #63d1bb; }

.size__control:checked:hover + .size__switcher {
  border-color: #63d1bb; }

.size__control:hover:not(:disabled) + .size__switcher {
  border-color: #c7c7c7; }

.size__control:focus:not(:disabled) + .size__switcher::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -20px;
  bottom: -10px;
  left: -20px;
  z-index: -1;
  display: block;
  outline: 2px solid rgba(3, 102, 214, 0.3); }

.size__control:active:not(:disabled) + .size__switcher {
  border-color: #63d1bb; }

.size__control:disabled + .size__switcher {
  opacity: 0.3;
  cursor: default; }

@media (min-width: 768px) {
  .size__switcher {
    width: 112px; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }
  .overlay--show {
    display: block; }
